  #body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

   strong {
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  strong{
    font-size: 20px;
    color: #007bff;
    line-height: 1.6;
  }

  .detalhe {
    font-size: 20px;
    color: red;
    line-height: 1.6;
  }